
#wrapper {
    max-width: 800px;
}

h3.date-range { color: #999; margin-top: 20px }

#header { height: 70px; }
#header h1 { margin: 15px; float: left; height: 40px; line-height: 40px; }
#header h1 span { font-weight: normal; }
#header h2 { margin: 15px 0; float: left; line-height: 67px; }
/*#header a { color:#333; text-decoration: none; }*/
/*#header a:hover { color:#666; }*/
#logo { height: 40px; float: left; margin: 15px 0; }

#status { height: 200px; }
#status h2 { font-size: 60px; color: #FFF; text-align: center; padding-top: 65px; text-shadow: 2px 2px 0px #000; }

#content {}

.frame { padding: 20px; }

#webservices .status, #webservices .date, #webservices .today, .delete { text-align: center; }
#webservices table a { text-decoration: underline; }
#webservices .event-log th { font-size: 16px;text-align: center; }
#webservices .event-log td { text-align: center; }
.status-header { width: 10%; }
.time-header { width: 25%; }

#legend table tr, #legend table th { font-size: 12px }
#legend table { width: auto }
#legend table tr td:first-child { width: 16px; }
#legend td { padding: 5px }

#footer, #push { height: 1em; }
#footer { padding: 0 20px; margin: auto; }
#footer ul li { display: inline; }

td.status a { position: relative; }
td.status a .information { position: absolute; top: 0px; left: 1px; z-index: 500; }

.breadcrumb { font-weight: normal; }

#powered {
  font-family: courier, monospace;
  font-size: 10px;
  text-transform: uppercase;
}
