{% load url from future %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ current_site.name }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/lumen/bootstrap.min.css" rel="stylesheet">
{#    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/sandstone/bootstrap.min.css" rel="stylesheet">#}
{#    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/simplex/bootstrap.min.css" rel="stylesheet">#}
{#    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/superhero/bootstrap.min.css" rel="stylesheet">#}
{#    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/united/bootstrap.min.css" rel="stylesheet">#}
{#    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/yeti/bootstrap.min.css" rel="stylesheet">#}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" media="screen">
    <link rel="alternate" type="application/atom+xml" title="Latest status updates." href="{% url 'feed' %}">
</head>
<body>
<div id="wrapper" class="container">
    <div id="header" class="page-header">
        <img id="logo" src="{{ STATIC_URL }}images/logo.png" alt="Logo">

        <h1 id="title"><a href="/">{{ current_site.name }}</a></h1>
        {% block toggle_login %}
            {% include "toggle_login.html" %}
        {% endblock %}
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <div id="footer">
        <ul class="pull-right">
        </ul>
    </div>
</div>

{% block js %}
{% endblock %}
</body>
</html>

