{% if user.is_authenticated %}
<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a class="dropdown-toggle" id="dropuser" data-toggle="dropdown"
            href="#" onclick="javascript:document.getElementById('login-dropdown-menu').style.display='block';">{{ user.username }} <b class="caret"></b></a>
        <ul id="login-dropdown-menu" class="dropdown-menu" role="menu" aria-labelledby="dropuser">
        	{% if user.is_superuser %}
        		<li><a href="/admin/">Admin</a></li>
        	{% endif %}
            <li><a href="{% url 'mysite_logout' %}">Logout</a></li>
        </ul>
    </li>
</ul>
{% else %}
<form class="navbar-form navbar-right" action="{% url 'mysite_login' %}"
        method="post" accept-charset="utf-8">
    <div class="form-group">
        <input class="form-control" type="text" placeholder="Username" name="username">
    </div>
    <div class="form-group">
        <input class="form-control" type="password" placeholder="Password" name="password">
    </div>
    {% csrf_token %}
    <button type="submit" class="btn btn-default">Login</button>
</form>
{% endif %}